@*<my-app>
    <div class="container">
        <div class="main-content" style="text-align: center">
            <h2>Loading...</h2>
        </div>
    </div>
</my-app>*@
@{ 
    ViewBag.Title = "Randal's Quizes";
}
<h1>For personal use only MMMKAY??</h1>
<h2><a asp-action="RecommendedQuiz" asp-controller="Quiz">Take a Quiz</a></h2>