@model QuizListViewModel
@{
    Layout = "_LayoutContentPageWithToast";
    ViewBag.Title = "Quizes";
}


<div class="panel panel-default content-wrapper">
    <div class="panel-body">
        <p>Click the button below to have the system generate a recommended quiz for you.</p>
        <a class="btn btn-success" asp-controller="Quiz" asp-action="RecommendedQuiz">Recommended Quiz</a>
    </div>
</div>

@if (User.IsInRole(QuizMaster.Data.Constants.IdentityConstants.SuperAdministratorRoleName))
{

@await Component.InvokeAsync("ListTable", new
{
    viewModel = new ListTableComponentViewModel<Quiz>(Model.Quizes)
    {
        Columns = new List<ListTableColumnInfo>
        {
            new ListTableColumnInfo<Quiz>("Code", q => q.Code, true) { Sortable = true },
            new ListTableColumnInfo<Quiz>("Title", q => q.Title) { Sortable = true },
            new ListTableColumnInfo<Quiz>("Group", q => q.QuizGroup.Name),
            new ListTableColumnInfo<Quiz>("Type", q => q.QuizType),
            new ListTableColumnInfo<Quiz>("Questions", q => q.QuizQuestions.Count),
            new ListTableColumnInfo<Quiz>("Create Date", q => q.CreateDate, format: "d"),
            new ListTableColumnInfo<Quiz>("Create Date", q => q.ModifyDate, format: "d")
        },
        Controller = "Quiz",
        PagedViewModel = Model
    }
});
    
}

@section scripts {
    <script type="text/javascript">
        $(function () {

            $('.delete-button').click(function (e) {
                var self = $(this);
                var form = self.parent('form');
                if (confirm("Are you sure you want to delete?")) {
                    form.submit();
                }

                e.preventDefault();
            });
        });
    </script>
}