@model QuizListViewModel
@{
    Layout = "_LayoutContentPageWithToast";
    ViewBag.Title = "Quizes";
}


<div class="panel panel-default content-wrapper">
    <div class="panel-body">
        <p>Click the button below to have the system generate a recommended quiz for you.</p>
        <a class="btn btn-success" asp-controller="Quiz" asp-action="RecommendedQuiz">Recommended Quiz</a>
    </div>
</div>

@if (User.IsInRole(QuizMaster.Data.Constants.IdentityConstants.SuperAdministratorRoleName))
{

@await Component.InvokeAsync("ListTable", new
{
    viewModel = new ListTableComponentViewModel<Quiz>(Model.Quizes)
    {
        Columns = new List<ListTableColumnInfo>
        {
            new ListTableColumnInfo("Code", q => (q as Quiz).Code, true),
            new ListTableColumnInfo("Title", q => (q as Quiz).Title),
            new ListTableColumnInfo("Group", q => (q as Quiz).QuizGroup.Name),
            new ListTableColumnInfo("Type", q => (q as Quiz).QuizType),
            new ListTableColumnInfo("Question Type", q => (q as Quiz).QuizQuestions.Count),
            new ListTableColumnInfo("Create Date", q => (q as Quiz).CreateDate, format: "d"),
            new ListTableColumnInfo("Create Date", q => (q as Quiz).ModifyDate, format: "d")
        },
        Controller = "Quiz",
        PagedViewModel = Model
    }
});
    
}

@section scripts {
    <script type="text/javascript">
        $(function () {

            $('.delete-button').click(function (e) {
                var self = $(this);
                var form = self.parent('form');
                if (confirm("Are you sure you want to delete?")) {
                    form.submit();
                }

                e.preventDefault();
            });
        });
    </script>
}