@model QuizListViewModel
@{
    Layout = "_LayoutContentPageWithToast";
    ViewBag.Title = "Quizes";
}


<div class="panel panel-default content-wrapper">
    <div class="panel-body">
        <p>Click the button below to have the system generate a recommended quiz for you.</p>
        <a class="btn btn-success" asp-controller="Quiz" asp-action="RecommendedQuiz">Recommended Quiz</a>
    </div>
</div>

@if (User.IsInRole(QuizMaster.Data.Constants.IdentityConstants.SuperAdministratorRoleName))
{

@await Component.InvokeAsync("ListTable", new
{
    viewModel = new ListTableComponentViewModel<Quiz>(Model, Model.Quizes)
    {
        Id = "quizListTable",
        Columns = new List<ListTableColumnInfo>
        {
            new ListTableColumnInfo<Quiz>("Code", q => q.Code, true) { Sortable = true },
            new ListTableColumnInfo<Quiz>("Title", q => q.Title) { Sortable = true },
            new ListTableColumnInfo<Quiz>("Group", q => q.QuizGroup.Name),
            new ListTableColumnInfo<Quiz>("Type", q => q.QuizType),
            new ListTableColumnInfo<Quiz>("Questions", q => q.QuizQuestions.Count),
            new ListTableColumnInfo<Quiz>("Create Date", q => q.CreateDate, format: "d") { Sortable = true },
            new ListTableColumnInfo<Quiz>("Modify Date", q => q.ModifyDate, format: "d") { Sortable = true }
        },
        Actions = new List<ListTableAction>()
        {
            new ListTableAction<Quiz>() { Controller = "Session", Action = "GenerateSession",
                IdExpression = q => q.QuizId, IconClass = "glyphicon glyphicon-book", Title = "Generate Session" }
        }
    }
})
    
}