<div id="holder">
    <div *ngIf="product">
        <h3>Product Details for {{product.name}}</h3>

        <form>
            <fieldset class="form-group">
                <label for="nameText">Product Name</label>
                <input type="text" class="form-control" id="nameText" [(ngModel)]="product.name" />
            </fieldset>
            <fieldset class="form-group">
                <label for="descriptionText">Description</label>
                <textarea class="form-control" id="descriptionText" rows="3" [(ngModel)]="product.description"></textarea>
            </fieldset>
            <fieldset class="form-group">
                <label for="stockText">In Stock</label>
                <input type="text" class="form-control" id="stockText" [(ngModel)]="product.stock" />
            </fieldset>

            <button type="button" class="btn btn-primary" (click)="goToProducts()">OK</button>
        </form>
    </div>
</div>