@{ 
    Layout = "_Layout";
}
<div class="panel panel-default content-wrapper">
    <div class="panel-body">
        <h1>@(ViewBag.HeaderTitle ?? ViewBag.Title)</h1>
        @RenderBody()
    </div>
</div>

@section head {
    @RenderSection("head", false)
}

@section scripts {
    @RenderSection("scripts", false)
}