body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    --max-width: 280px;
}


/* ============================================== */
.quiz-wrapper {
    margin-bottom: 20px;
}
.question-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffe7ff;
    color: #333;
}

.question {
    margin-bottom: 10px;
    
}

.session-list-row-ongoing {
    background-color:  #adabab;
}

.answer-item {
    background-color: #d2d2ff;
    padding: 10px;
}

.correct-answer {
    background-color: #b9ecb9;
}

.incorrect-answer {
    background-color: #ffc5c5;
}

textarea.question-content {
    max-width: 800px !important;
    width: 800px;
    height: 300px;
    margin: 20px;
}

.manage-question-wrapper {
    padding: 20px;
}

.content-wrapper,
.panel {
    margin-top: 20px;
}

.correct-label {
    background-color: #b9ecb9;
    color: green;
}
.incorrect-label {
    background-color: #ffc5c5;
    color: red;
}
.delete-button {
    color: red;
}
.list-table {
    margin-top: 20px;
}

table.result-for-the-day-table {
    margin: 20px;
    border-collapse: collapse;
}

table.result-for-the-day-table td, table.result-for-the-day-table th {
    padding-right: 10px;
}
table.result-for-the-day-table td, table.result-for-the-day-table td {
    padding-left: 10px;
}

table.result-for-the-day-table td.grade {
    font-weight: bold;
    font-size: 30px;
}

table.result-for-the-day-table td.passed {
    color: green;
}

table.result-for-the-day-table td.failed {
    color: red;
}

table.result-for-the-day-tabl, table.result-for-the-day-table tr, table.result-for-the-day-table td {
    border: 1px solid silver;
}

#score-container {
    margin-top: 10px;
}

#first-score-container,
#current-score-container {
}

.score-label {
    font-size: 50px;
}
.daily-grade-label {
    font-size: 30px;
}